.logo {
  width: min-content;
  font-size: 2.4rem;
  margin-left: 70px;
  .logo-app {
    color: var(--color2);
    font-size: 1.8rem;
  }
  &:hover {
    cursor: pointer;
  }
  @media screen and (max-width: 328px) {
    margin-left: 1rem;
  }
}
