.banner {
  height: 234px;
  background-image: url(../../../../assets/bcq.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  &__text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65.67px;
    left: 56.5px;
    .banner-title,
    .banner-subtitle {
      color: var(--color3);
      font-size: 51px;
    }
    .banner-subtitle {
      margin-top: -35px;
    }
  }
  @media screen and (min-width: 428px) {
    height: 249px;
    &__text {
      top: 50.67px;
      left: 121.55px;
    }
    .banner-title {
      font-size: 74px;
    }
    .banner-subtitle {
      font-size: 67px;
      margin-top: -48px;
    }
  }
  @media screen and (min-width: 769px) {
    height: 416px;
    &__text {
      top: 134px;
      left: 261px;
    }
    .banner-subtitle {
      margin-top: -48px;
    }
  }
}
