.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100vw;
  background: var(--bg-footer);
  padding: 0 2vw;
  &__title {
    font-size: 1.56rem;
  }
  &__img-container {
    margin-left: 3vw;
    max-width: 53.2%;
    max-height: 248px;
    align-items: center;
    .footer__image {
      width: 100%;
      max-width: 536px;
    }
  }
  @media screen and (min-width: 429px) {
    height: 116px;
    &__title {
      margin-left: 35px;
      font-size: 2.44rem;
    }
  }
  @media screen and (min-width: 769px) {
    height: 167px;
    padding: 0 3vw;
    &__title {
      margin-left: calc(120px * 100vw / 1279px);
      font-size: 3.5rem;
    }
    &__img-container {
      .footer__image {
        transform: translateY(-1rem);
      }
    }
  }
}
